:root {
  --textstrong: rgba(34, 34, 34, 1);
  --textmoderate: rgba(47, 47, 47, 1);
  --textmoderate-weak: rgba(75, 75, 75, 1);
  --textweak: var(--colors-text-moderate);
  --texton-primary: rgba(255, 255, 255, 1);
  --neutralstrong: var(--colors-neutral-white);
  --neutralmoderate: rgba(102, 102, 102, 1);
  --neutralmoderate-weak: rgba(128, 128, 128, 1);
  --neutralweak: rgba(248, 248, 248, 1);
  --neutralwhite: rgba(255, 255, 255, 1);
  --borderweak: rgba(240, 240, 240, 1);
  --bgdugout: rgba(248, 248, 248, 1);
  --bgweak: rgba(245, 244, 239, 1);
  --bgmoderate: var(--colors-bg-moderate);
  --bgstrong: rgba(229, 229, 224, 1);
  --primarystrong: rgba(8, 8, 8, 1);
  --primarydefault: rgba(34, 34, 34, 1);
  --primarymoderate: rgba(109, 109, 109, 1);
  --primaryweak: rgba(209, 209, 209, 1);
  --primarydugout: rgba(246, 246, 246, 1);
  --secondarystrong: rgba(59, 41, 136, 1);
  --secondarydefault: rgba(89, 60, 158, 1);
  --secondarymoderate: rgba(113, 87, 169, 1);
  --secondaryweak: rgba(204, 195, 224, 1);
  --secondarydugout: rgba(235, 231, 242, 1);
  --successstrong: rgba(0, 196, 52, 1);
  --warningstrong: rgba(221, 217, 0, 1);
  --warningmoderate: rgba(225, 223, 39, 1);
  --warningweak: rgba(245, 245, 192, 1);
  --warningdugout: rgba(251, 252, 229, 1);
  --greengreen-50: rgba(231, 248, 232, 1);
  --greengreen-100: rgba(197, 237, 198, 1);
  --greengreen-200: rgba(158, 226, 160, 1);
  --greengreen-300: rgba(113, 216, 120, 1);
  --greengreen-400: rgba(73, 206, 88, 1);
  --greengreen-500: rgba(0, 196, 52, 1);
  --greengreen-600: rgba(0, 180, 42, 1);
  --greengreen-700: rgba(0, 161, 28, 1);
  --greengreen-800: rgba(0, 144, 11, 1);
  --greengreen-900: rgba(0, 113, 0, 1);
  --forestforest-50: rgba(229, 244, 237, 1);
  --forestforest-100: rgba(192, 229, 210, 1);
  --forestforest-200: rgba(151, 212, 182, 1);
  --forestforest-300: rgba(106, 196, 153, 1);
  --forestforest-400: rgba(70, 183, 133, 1);
  --forestforest-500: rgba(18, 171, 112, 1);
  --forestforest-600: rgba(9, 156, 101, 1);
  --forestforest-700: rgba(1, 138, 88, 1);
  --forestforest-800: rgba(0, 120, 76, 1);
  --forestforest-900: rgba(0, 89, 55, 1);
  --yellowyellow-50: rgba(251, 252, 229, 1);
  --yellowyellow-100: rgba(245, 245, 192, 1);
  --yellowyellow-200: rgba(238, 239, 150, 1);
  --yellowyellow-300: rgba(232, 232, 108, 1);
  --yellowyellow-400: rgba(229, 228, 75, 1);
  --yellowyellow-500: rgba(225, 223, 39, 1);
  --yellowyellow-600: rgba(225, 206, 30, 1);
  --yellowyellow-700: rgba(225, 182, 14, 1);
  --yellowyellow-800: rgba(224, 159, 0, 1);
  --yellowyellow-900: rgba(221, 217, 0, 1);
  --redred-50: rgba(251, 233, 230, 1);
  --redred-100: rgba(255, 204, 186, 1);
  --redred-200: rgba(255, 171, 142, 1);
  --redred-300: rgba(254, 139, 96, 1);
  --redred-400: rgba(254, 113, 60, 1);
  --redred-500: rgba(254, 89, 21, 1);
  --redred-600: rgba(243, 83, 17, 1);
  --redred-700: rgba(229, 76, 11, 1);
  --redred-800: rgba(215, 69, 6, 1);
  --redred-900: rgba(190, 55, 0, 1);
  --blueblue-50: rgba(219, 242, 255, 1);
  --blueblue-100: rgba(162, 221, 255, 1);
  --blueblue-200: rgba(100, 198, 250, 1);
  --blueblue-300: rgba(15, 175, 242, 1);
  --blueblue-400: rgba(0, 159, 237, 1);
  --blueblue-500: rgba(0, 142, 231, 1);
  --blueblue-600: rgba(0, 129, 216, 1);
  --blueblue-700: rgba(0, 111, 196, 1);
  --blueblue-800: rgba(0, 94, 175, 1);
  --blueblue-900: rgba(0, 63, 140, 1);
  --purplepurple-50: rgba(235, 231, 242, 1);
  --purplepurple-100: rgba(204, 195, 224, 1);
  --purplepurple-200: rgba(170, 155, 204, 1);
  --purplepurple-300: rgba(138, 116, 184, 1);
  --purplepurple-400: rgba(113, 87, 169, 1);
  --purplepurple-500: rgba(89, 60, 158, 1);
  --purplepurple-600: rgba(81, 55, 152, 1);
  --purplepurple-700: rgba(69, 47, 144, 1);
  --purplepurple-800: rgba(59, 41, 136, 1);
  --purplepurple-900: rgba(40, 30, 122, 1);
  --custom-bebas-font-family: "Bebas Neue", Helvetica;
  --custom-bebas-font-weight: 400;
  --custom-bebas-font-size: 128px;
  --custom-bebas-letter-spacing: -2.56px;
  --custom-bebas-line-height: 85.00000238418579%;
  --custom-bebas-font-style: normal;
  --body-small-reg-font-family: "Figtree", Helvetica;
  --body-small-reg-font-weight: 500;
  --body-small-reg-font-size: 12px;
  --body-small-reg-letter-spacing: 0px;
  --body-small-reg-line-height: 139.9999976158142%;
  --body-small-reg-font-style: normal;
  --body-small-bold-font-family: "Figtree", Helvetica;
  --body-small-bold-font-weight: 700;
  --body-small-bold-font-size: 12px;
  --body-small-bold-letter-spacing: 0px;
  --body-small-bold-line-height: 100%;
  --body-small-bold-font-style: normal;
  --body-reg-font-family: "Figtree", Helvetica;
  --body-reg-font-weight: 500;
  --body-reg-font-size: 14px;
  --body-reg-letter-spacing: 0px;
  --body-reg-line-height: 139.9999976158142%;
  --body-reg-font-style: normal;
  --body-bold-font-family: "Figtree", Helvetica;
  --body-bold-font-weight: 700;
  --body-bold-font-size: 14px;
  --body-bold-letter-spacing: 0px;
  --body-bold-line-height: 100%;
  --body-bold-font-style: normal;
  --body-large-reg-font-family: "Figtree", Helvetica;
  --body-large-reg-font-weight: 500;
  --body-large-reg-font-size: 16px;
  --body-large-reg-letter-spacing: -0.16px;
  --body-large-reg-line-height: 129.99999523162842%;
  --body-large-reg-font-style: normal;
  --body-large-bold-font-family: "Figtree", Helvetica;
  --body-large-bold-font-weight: 700;
  --body-large-bold-font-size: 16px;
  --body-large-bold-letter-spacing: -0.16px;
  --body-large-bold-line-height: 120.00000476837158%;
  --body-large-bold-font-style: normal;
  --titles-h5-font-family: "Figtree", Helvetica;
  --titles-h5-font-weight: 700;
  --titles-h5-font-size: 20px;
  --titles-h5-letter-spacing: -0.2px;
  --titles-h5-line-height: 110.00000238418579%;
  --titles-h5-font-style: normal;
  --titles-h4-font-family: "Figtree", Helvetica;
  --titles-h4-font-weight: 700;
  --titles-h4-font-size: 24px;
  --titles-h4-letter-spacing: -0.24px;
  --titles-h4-line-height: 110.00000238418579%;
  --titles-h4-font-style: normal;
  --titles-h3-font-family: "Figtree", Helvetica;
  --titles-h3-font-weight: 700;
  --titles-h3-font-size: 29px;
  --titles-h3-letter-spacing: -0.29px;
  --titles-h3-line-height: 110.00000238418579%;
  --titles-h3-font-style: normal;
  --titles-h2-font-family: "Figtree", Helvetica;
  --titles-h2-font-weight: 700;
  --titles-h2-font-size: 35px;
  --titles-h2-letter-spacing: -0.7px;
  --titles-h2-line-height: 110.00000238418579%;
  --titles-h2-font-style: normal;
  --titles-h1-font-family: "Figtree", Helvetica;
  --titles-h1-font-weight: 700;
  --titles-h1-font-size: 42px;
  --titles-h1-letter-spacing: -0.84px;
  --titles-h1-line-height: 110.00000238418579%;
  --titles-h1-font-style: normal;
  --titles-display-2-font-family: "Figtree", Helvetica;
  --titles-display-2-font-weight: 700;
  --titles-display-2-font-size: 50px;
  --titles-display-2-letter-spacing: -2px;
  --titles-display-2-line-height: 110.00000238418579%;
  --titles-display-2-font-style: normal;
  --titles-display-1-font-family: "Figtree", Helvetica;
  --titles-display-1-font-weight: 700;
  --titles-display-1-font-size: 60px;
  --titles-display-1-letter-spacing: -2.4px;
  --titles-display-1-line-height: 110.00000238418579%;
  --titles-display-1-font-style: normal;
  --titles-h6-font-family: "Figtree", Helvetica;
  --titles-h6-font-weight: 700;
  --titles-h6-font-size: 18px;
  --titles-h6-letter-spacing: -0.09px;
  --titles-h6-line-height: 110.00000238418579%;
  --titles-h6-font-style: normal;
  --shadow-3xl: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  --shadow-2xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-xl: 0px 24px 48px -12px rgba(16, 24, 40, 0.18);
  --shadow-lg: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px
    rgba(16, 24, 40, 0.08);
  --shadow-md: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px
    rgba(16, 24, 40, 0.1);
  --shadow-sm: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px
    rgba(16, 24, 40, 0.1);
  --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --MVP-v1-1-container-radius-xs: 8px;
  --MVP-v1-1-container-radius-s: 12px;
  --MVP-v1-1-container-radius-m: 16px;
  --MVP-v1-1-container-radius-l: 20px;
  --MVP-v1-1-container-radius-xl: 100px;
  --colors-text-strong: rgba(34, 34, 34, 1);
  --colors-text-moderate: rgba(47, 47, 47, 1);
  --colors-text-moderate-weak: rgba(75, 75, 75, 1);
  --colors-text-weak: rgba(134, 134, 134, 1);
  --colors-text-on-primary: rgba(255, 255, 255, 1);
  --colors-bg-strong: rgba(255, 255, 255, 1);
  --colors-bg-moderate: rgba(240, 239, 234, 1);
  --colors-bg-weak: rgba(255, 255, 255, 1);
  --colors-bg-dugout: rgba(248, 248, 248, 1);
  --colors-border-strong: rgba(225, 225, 225, 1);
  --colors-border-moderate: rgba(230, 230, 230, 1);
  --colors-border-weak: rgba(240, 240, 240, 1);
  --colors-neutral-strong: rgba(34, 34, 34, 1);
  --colors-neutral-moderate: rgba(102, 102, 102, 1);
  --colors-neutral-moderate-weak: rgba(128, 128, 128, 1);
  --colors-neutral-weak: rgba(248, 248, 248, 1);
  --colors-neutral-white: rgba(255, 255, 255, 1);
  --colors-primary-strong: rgba(8, 8, 8, 1);
  --colors-primary-default: rgba(34, 34, 34, 1);
  --colors-primary-moderate: rgba(109, 109, 109, 1);
  --colors-primary-weak: rgba(209, 209, 209, 1);
  --colors-primary-dugout: rgba(246, 246, 246, 1);
  --colors-30-red: rgba(229, 57, 53, 0.3);
  --colors-30-orange: rgba(251, 140, 0, 0.3);
  --colors-30-yellow: rgba(253, 216, 53, 0.3);
  --colors-30-green: rgba(67, 160, 71, 0.3);
  --colors-30-teal: rgba(0, 137, 123, 0.3);
  --colors-30-blue: rgba(30, 136, 229, 0.3);
  --colors-30-purple: rgba(92, 107, 192, 0.3);
  --colors-30-violet: rgba(142, 36, 170, 0.3);
  --colors-solid-red: rgba(229, 57, 53, 1);
  --colors-solid-orange: rgba(251, 140, 0, 1);
  --colors-solid-yellow: rgba(253, 216, 53, 1);
  --colors-solid-green: rgba(67, 160, 71, 1);
  --colors-solid-teal: rgba(0, 137, 123, 1);
  --colors-solid-blue: rgba(30, 136, 229, 1);
  --colors-solid-purple: rgba(92, 107, 192, 1);
  --colors-solid-violet: rgba(142, 36, 170, 1);
  --colors-frost-50: rgba(255, 255, 255, 0.5);
  --colors-frost-dark-95: rgba(240, 239, 234, 0.8);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-colors-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-colors-mode="light"] {
  --colors-text-strong: rgba(34, 34, 34, 1);
  --colors-text-moderate: rgba(47, 47, 47, 1);
  --colors-text-moderate-weak: rgba(75, 75, 75, 1);
  --colors-text-weak: rgba(134, 134, 134, 1);
  --colors-text-on-primary: rgba(255, 255, 255, 1);
  --colors-bg-strong: rgba(255, 255, 255, 1);
  --colors-bg-moderate: rgba(240, 239, 234, 1);
  --colors-bg-weak: rgba(255, 255, 255, 1);
  --colors-bg-dugout: rgba(248, 248, 248, 1);
  --colors-border-strong: rgba(225, 225, 225, 1);
  --colors-border-moderate: rgba(230, 230, 230, 1);
  --colors-border-weak: rgba(240, 240, 240, 1);
  --colors-neutral-strong: rgba(34, 34, 34, 1);
  --colors-neutral-moderate: rgba(102, 102, 102, 1);
  --colors-neutral-moderate-weak: rgba(128, 128, 128, 1);
  --colors-neutral-weak: rgba(248, 248, 248, 1);
  --colors-neutral-white: rgba(255, 255, 255, 1);
  --colors-primary-strong: rgba(8, 8, 8, 1);
  --colors-primary-default: rgba(34, 34, 34, 1);
  --colors-primary-moderate: rgba(109, 109, 109, 1);
  --colors-primary-weak: rgba(209, 209, 209, 1);
  --colors-primary-dugout: rgba(246, 246, 246, 1);
  --colors-frost-dark-95: rgba(240, 239, 234, 0.8);
}

[data-colors-mode="dark"] {
  --colors-text-strong: rgba(255, 255, 255, 1);
  --colors-text-moderate: rgba(122, 122, 122, 1);
  --colors-text-moderate-weak: rgba(97, 97, 97, 1);
  --colors-text-weak: rgba(82, 82, 82, 1);
  --colors-text-on-primary: rgba(34, 34, 34, 1);
  --colors-bg-strong: rgba(31, 30, 29, 1);
  --colors-bg-moderate: rgba(36, 36, 36, 1);
  --colors-bg-weak: rgba(51, 49, 48, 1);
  --colors-bg-dugout: rgba(41, 40, 39, 1);
  --colors-border-strong: rgba(71, 71, 71, 1);
  --colors-border-moderate: rgba(61, 61, 61, 1);
  --colors-border-weak: rgba(51, 51, 51, 1);
  --colors-neutral-strong: rgba(255, 255, 255, 1);
  --colors-neutral-moderate: rgba(77, 77, 77, 1);
  --colors-neutral-moderate-weak: rgba(51, 51, 51, 1);
  --colors-neutral-weak: rgba(43, 43, 43, 1);
  --colors-neutral-white: rgba(41, 41, 41, 1);
  --colors-primary-strong: rgba(179, 171, 130, 1);
  --colors-primary-default: rgba(204, 195, 149, 1);
  --colors-primary-moderate: rgba(229, 223, 190, 1);
  --colors-primary-weak: rgba(240, 236, 216, 1);
  --colors-primary-dugout: rgba(250, 248, 239, 1);
  --colors-frost-dark-95: rgba(51, 49, 48, 0.9);
}
