<h2 class="text-wrapper-7">Hello, Test.</h2>
<section class="frame-15" data-colors-mode="dark" aria-labelledby="metrics-heading">
  <h3 id="metrics-heading" class="text-wrapper-8">Upcoming classes</h3>
  <time class="text-wrapper-9" datetime="04:00">4:00 am</time>
  <article class="frame-16">
    <div class="frame-17">
      <h4 class="text-wrapper-10">Default Class Name</h4>
      <p class="text-wrapper-5">4:00 am - 5:00 am (1 hr)</p>
    </div>
    <div class="frame-18">
      <div class="frame-12">
        <img class="ellipse-2" src="/static/img/woman-avatar.jpg" alt="Test User avatar" />
        <span class="text-wrapper-11">Test User</span>
      </div>
      <div class="frame-12">
        <img class="img-3" src="/static/img/people-2-user-avatar-group.svg" alt="Participants" aria-hidden="true" />
        <span class="text-wrapper-11">0</span>
      </div>
    </div>
  </article>
  <time class="text-wrapper-9" datetime="05:00">5:00 am</time>
  <article class="frame-16">
    <div class="frame-17">
      <h4 class="text-wrapper-10">Default Class Name</h4>
      <p class="text-wrapper-5">4:00 am - 5:00 am (1 hr)</p>
    </div>
    <div class="frame-18">
      <div class="frame-12">
        <img class="ellipse-2" src="/static/img/woman-avatar.jpg" alt="Test User avatar" />
        <span class="text-wrapper-11">Test User</span>
      </div>
      <div class="frame-12">
        <img class="img-3" src="/static/img/people-2-user-avatar-group.svg" alt="Participants" aria-hidden="true" />
        <span class="text-wrapper-11">0</span>
      </div>
    </div>
  </article>
  <time class="text-wrapper-9" datetime="06:00">6:00 am</time>
  <article class="frame-16">
    <div class="frame-17">
      <h4 class="text-wrapper-10">Default Class Name</h4>
      <p class="text-wrapper-5">4:00 am - 5:00 am (1 hr)</p>
    </div>
    <div class="frame-18">
      <div class="frame-12">
        <img class="ellipse-2" src="/static/img/woman-avatar.jpg" alt="Test User avatar" />
        <span class="text-wrapper-11">Test User</span>
      </div>
      <div class="frame-12">
        <img class="img-3" src="/static/img/people-2-user-avatar-group.svg" alt="Participants" aria-hidden="true" />
        <span class="text-wrapper-11">0</span>
      </div>
    </div>
  </article>
</section>
<section class="frame-19" data-colors-mode="dark" aria-labelledby="recent-activity-heading">
  <div class="frame-20">
    <h3 id="recent-activity-heading" class="text-wrapper-12">Recent Activity</h3>
  </div>
  <article class="frame-21">
    <div class="frame-22">
      <h4 class="text-wrapper-13">Default Class Name</h4>
      <span class="text-wrapper-13">-</span>
    </div>
    <time class="text-wrapper-5" datetime="2026-01-11T15:51">Jan 11, 2026, 3:51 pm</time>
  </article>
  <article class="frame-21">
    <div class="frame-22">
      <h4 class="text-wrapper-13">Default Class Name</h4>
      <span class="text-wrapper-13">-</span>
    </div>
    <time class="text-wrapper-5" datetime="2026-01-11T15:51">Jan 11, 2026, 3:51 pm</time>
  </article>
  <article class="frame-21">
    <div class="frame-22">
      <h4 class="text-wrapper-13">Default Class Name</h4>
      <span class="text-wrapper-13">-</span>
    </div>
    <time class="text-wrapper-5" datetime="2026-01-11T15:51">Jan 11, 2026, 3:51 pm</time>
  </article>
  <article class="frame-21">
    <div class="frame-22">
      <h4 class="text-wrapper-13">Default Class Name</h4>
      <span class="text-wrapper-13">-</span>
    </div>
    <time class="text-wrapper-5" datetime="2026-01-11T15:51">Jan 11, 2026, 3:51 pm</time>
  </article>
</section>
