<div class="add-new-class">
    <div class="title"><div class="text-wrapper">Add New Class</div></div>
    <div class="fields">
    <div class="div">
        <div class="text-wrapper-2">Details</div>
        <div class="div-2">
        <div class="input-field">
            <div class="div-3"><div class="field-label">Class Name</div></div>
            <div class="field"><div class="text-wrapper-3">VIP Yoga Event - 2026</div></div>
        </div>
        <div class="input-field-2">
            <div class="div-3"><div class="field-label">Description</div></div>
            <div class="field-2"><div class="placeholder">Write something...</div></div>
        </div>
        <div class="frame">
            <div class="select-field">
            <div class="select-field-filled">
                <div class="div-3"><div class="field-label">Location</div></div>
                <div class="field-3">
                <div class="text-wrapper-3">Select...</div>
                <div class="icon"><img class="img" src="/static/img/chevron-down-small.svg" alt="" /></div>
                </div>
            </div>
            </div>
            <button class="button">
            <div class="plus-small-add-small-wrapper"><span class="icon-plus" aria-hidden="true">+</span></div>
            <div class="add-new">Add New Location</div>
            </button>
        </div>
        <div class="frame">
            <div class="select-field">
            <div class="select-field-filled">
                <div class="div-3"><div class="field-label">Teacher</div></div>
                <div class="field-3">
                <div class="text-wrapper-3">Select...</div>
                <div class="icon"><img class="img" src="/static/img/chevron-down-small.svg" alt="" /></div>
                </div>
            </div>
            </div>
            <button class="button">
            <div class="plus-small-add-small-wrapper"><span class="icon-plus" aria-hidden="true">+</span></div>
            <div class="add-new">Add New Teacher</div>
            </button>
        </div>
        </div>
    </div>
    <div class="div">
        <div class="text-wrapper-2">Date &amp; Time</div>
        <div class="fields-2">
        <div class="type">
            <div class="div-4">
            <div class="checkbox-and-label">
                <div class="radio"><div class="radio-2"></div></div>
                <div class="label">One-off Class</div>
            </div>
            </div>
            <div class="div-4">
            <div class="checkbox-and-label">
                <div class="radio-3"></div>
                <div class="label">Recurring Class</div>
            </div>
            </div>
        </div>
        <div class="div-5">
            <div class="div-4">
            <div class="div-3"><div class="field-label">Date</div></div>
            <div class="field">
                <div class="text-wrapper-3">{{ tomorrow_date_str }}</div>
                <div class="icon"><img class="img" src="/static/img/calendar-3-date.svg" alt="" /></div>
            </div>
            </div>
        </div>
        <div class="div-5">
            <div class="div-4">
            <div class="div-3"><div class="field-label">Time</div></div>
            <div class="field">
                <div class="text-wrapper-3">10:00 am</div>
                <div class="icon"><img class="img" src="/static/img/calendar-3-date.svg" alt="" /></div>
            </div>
            </div>
            <div class="div-4">
            <div class="div-3"><div class="field-label">Duration</div></div>
            <div class="field"><div class="text-wrapper-3">60 minutes</div></div>
            </div>
        </div>
        </div>
    </div>
    <div class="div">
        <div class="text-wrapper-2">Participants</div>
        <div class="input-field-wrapper">
        <div class="div-4">
            <div class="div-3"><div class="field-label">Max Participants</div></div>
            <div class="field"><div class="text-wrapper-3">20</div></div>
            <div class="div-3"><p class="description">Leave it empty if infinite</p></div>
        </div>
        </div>
    </div>
    <div class="div">
        <div class="text-wrapper-2">Images</div>
        <div class="image">
        <div class="img-upload">
            <p class="p">Drag ‘n’ drop some file here, or click to select file</br>(10MB limit per file)</p>
        </div>
        <p class="text-wrapper-4">
            Use a high quality landscape image. Recommended ratio for this image is 3:2. It will be displayed in all
            class details, schedule, and checkout.
        </p>
        </div>
    </div>
    <div class="div">
        <div class="text-wrapper-2">Payment Settings</div>
        <div class="div-2">
        <div class="input-field-3">
            <div class="div-3"><div class="field-label">Price</div></div>
            <div class="field-4">
            <div class="text-wrapper-3">0</div>
            <span class="icon-dollar" aria-hidden="true">$</span>
            </div>
        </div>
        </div>
    </div>
    <div class="btn">
        <button class="button-2"><div class="add-new-2">Cancel</div></button>
        <a href="/?center=classes&new=1" class="button-3"><div class="add-new-3">Add New Class</div></a>
    </div>
    </div>
</div>
